<hr>
<form action="/campgrounds/<%=camp._id%>/comments" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="comment[text]" placeholder="text">
    </div>
    <button type="submit" class="btn btn-success btn float-right" style="width: 30%;">Add Comment</button>
</form>

<a href="/campgrounds">Go back</a>
