<hr>
<form action="/campgrounds/<%=camp._id%>/comments" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="comment[text]" placeholder="text">
    </div>
    <div class="float-right">
        <button type="submit" class="btn btn-success">Add Comment</button>
    </div>
</form>

<a href="/campgrounds">Go back</a>
