.figure {
    width: 100%;
}
.figure-img{
    width: 100%;
}
.img-thumbnail {
    padding: 0;
}

.custome-pad {
    padding: 0 6px 0 6px;
}

.navbar {
    margin-bottom: 1em;
}

.delete-form{
    display: inline;
}